<div class="header">
  API DE FILMES
</div>

<div class="container">
  <div class="sidebar">
    <button class="sidebar-btn" [ngClass]="{'selected-blue': activeButton === 'listAll'}" (click)="setActiveButton('listAll')">Listar todos</button>
    <button class="sidebar-btn" [ngClass]="{'selected-blue': activeButton === 'listById'}" (click)="setActiveButton('listById')">Listar</button>
    <button class="sidebar-btn" [ngClass]="{'selected-green': activeButton === 'add'}" (click)="setActiveButton('add')">Incluir</button>
    <button class="sidebar-btn" [ngClass]="{'selected-red': activeButton === 'delete'}" (click)="setActiveButton('delete')">Apagar</button>
    <button class="sidebar-btn" [ngClass]="{'selected-orange': activeButton === 'update'}" (click)="setActiveButton('update')">Atualizar</button>

    <div class="confirm-button-container">
      <button class="confirm-btn" (click)="executeAction()">CONFIRMA</button>
    </div>
  </div>
  <div class="content">
    <div *ngIf="movies.length">
      <h3>Filmes Cadastrados</h3>
      <ul>
        <li *ngFor="let movie of movies">{{ movie.title }} - {{ movie.category }} - {{ movie.year }}</li>
      </ul>
    </div>

    <div *ngIf="statusMessage" style="margin-top: 20px;">
      <p>{{ statusMessage }}</p>
    </div>

    <div *ngIf="activeButton === 'listById' || activeButton === 'delete' || activeButton === 'update'">
      <input [(ngModel)]="idInput" placeholder="Digite o ID do filme" />
    </div>

    <div *ngIf="activeButton === 'add' || activeButton === 'update'">
      <input [(ngModel)]="newMovie.title" placeholder="Title" />
      <input [(ngModel)]="newMovie.category" placeholder="Category" />
      <input [(ngModel)]="newMovie.year" placeholder="Year" />
    </div>
  </div>
</div>
